<div class="row">
    <div class="col-lg-12">
        <app-list-organizations (OrganizationSelectionChanged)="ChangeOrganization($event)"></app-list-organizations>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form [formGroup]="frm" (ngSubmit)="AddNewAdmin()">
          <div>
            <input type="email" formControlName="Email" class="form-control" placeholder="Enter Email"/>
          </div>
          <div>
            <input type="text" formControlName="DisplayName" class="form-control" placeholder="Enter DisplayName"/>
          </div>
           <div>
            <button class="btn btn-primary form-control">Add Admin</button>
          </div>
        </form>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <span>Orgnization Admins:</span>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Display Name
          </th>
          <th>
            Email
          </th>         
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adm of OrgAdmins">
          <td>
            {{adm.DisplayName}}
          </td>
          <td>
            {{adm.UserEmail}}
          </td>
          <td>
            <button class="btn btn-link" (click)="RevokeAccess(adm.UserId)">Revoke Admin Access</button>
            <button class="btn btn-link" (click)="UpdateUserData(adm.UserId)">Update Info</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
