/* You can add global styles to this file, and also import other style files */

body {
    min-height: 600vh;
    min-height: -webkit-fill-available;    
  }
  
  html {
    height: -webkit-fill-available;
  }
  
