<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Org Admin</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>                    
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link px-0 align-middle dropdown-toggle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Course Management</span> </a>
                            <div class="dropdown-menu">
                                <a routerLink="manageCourses" class="nav-link px-0"> <span class="d-none d-sm-inline"> Manage Course</span></a>
                                <a routerLink="addCourse" class="nav-link px-0"> <span class="d-none d-sm-inline"> Add Course</span></a>
                            </div>
                    </li>                    
                    <li  class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" role="button" class="nav-link px-0 align-middle dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Student Management</span></a>
                        <div class="dropdown-menu">
                            <a routerLink="addBulkStudent" class="nav-link px-0"> <span class="d-none d-sm-inline">Bulk Add Student</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link px-0 align-middle dropdown-toggle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Fee Management</span> 
                        </a>
                        <div class="dropdown-menu">
                                <a routerLink="manageFeeHead" class="nav-link px-0"> <span class="d-none d-sm-inline">Manage Fee Heads</span></a>
                                <a routerLink="addFeeHead" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Fee Head</span></a>
                                <a routerLink="addFee" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Fee</span></a>
                                <a routerLink="getStudentChalan" class="nav-link px-0"> <span class="d-none d-sm-inline">Chalan Details</span></a>
                                <a routerLink="generateBulkCahalan" class="nav-link px-0"> <span class="d-none d-sm-inline">Generate Chalans</span></a>
                            </div>                            
                    </li>  
                    
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link px-0 align-middle dropdown-toggle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Subject Management</span> 
                        </a>
                        <div class="dropdown-menu">
                            <a routerLink="manageSubjects" class="nav-link px-0"> <span class="d-none d-sm-inline">Manage Subjects</span></a>
                            <a routerLink="manageSubjectMaps" class="nav-link px-0"> <span class="d-none d-sm-inline">Manage Course Subjects</span></a>
                        </div>                            
                    </li>

                     <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link px-0 align-middle dropdown-toggle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Exam Management</span> 
                        </a>
                        <div class="dropdown-menu">
                            <a routerLink="manageExamType" class="nav-link px-0"> <span class="d-none d-sm-inline">Manage Exam Types</span></a>
                            <a routerLink="addExam" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Exam</span></a>
                            <a routerLink="manageExam" class="nav-link px-0"> <span class="d-none d-sm-inline">Manage Exam</span></a>
                        </div>                            
                    </li>           
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Account &nbump; Settings</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

